.choosed-city {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #b6ccfe;
  flex-direction: row;
  width: 15rem;
}

.choosed-city__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  flex: 1;
}

.choosed-city h2 {
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.choosed-city h3 {
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: #d7e3fc;
}

.choosed-city__temperature {
  font-size: 1rem;
  font-weight: bold;
  color: #abc4ff;
  background-color: #edf2fb;
  border: 1px solid #abc4ff;
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .choosed-city__description {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .choosed-city__description h2 {
    font-size: 1.25rem;
  }

  .choosed-city__temperature {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
