.button {
  cursor: pointer;
  font: inherit;
  border: 1px solid;
  background-color: #b6ccfe;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;

  border-radius: 25px;
  font-weight: bold;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}
